<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HX63517VFF"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HX63517VFF');
  </script>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&amp;display=swap"

      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&amp;display=swap"

      rel="stylesheet">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/vendors.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Recursive Digital - Audiovisual-Design-AV-Acoustics-Content-Development-Lighting-Design</title>
  </head>
  <body class="preloader-visible" data-barba="wrapper"> <!-- preloader start -->
    <div class="preloader js-preloader">
      <div class="preloader__bg"></div>
      <div class="preloader__progress">
        <div class="preloader__progress__inner"></div>
      </div>
    </div>
    <!-- preloader end -->
    <!-- cursor start -->
    <div class="cursor js-cursor">
      <div class="cursor__wrapper">
        <div class="cursor__follower js-follower"></div>
        <div class="cursor__label js-label"></div>
        <div class="cursor__icon js-icon"></div>
      </div>
    </div>
    <!-- cursor end -->
    <!-- barba container start -->
    <div class="barba-container" data-barba="container">
      <!-- to-top-button start -->
      <div data-cursor="" class="backButton js-backButton"> <span class="backButton__bg"></span>
        <div class="backButton__icon__wrap"> <i class="backButton__button js-top-button"

            data-feather="arrow-up"></i> </div>
      </div>
      <!-- to-top-button end -->
      <main class="">
        <!-- header start -->
        <header class="header -dark -sticky-dark js-header-dark -classic js-header">
          <!-- header__bar start -->
          <div class="header__bar">
            <div class="overflow-hidden">
              <div class="header__logo js-header-logo"> <a data-barba="" href="index.html">
                  <img class="header__logo__light" src="{% static 'logo-light.png' %}"

                    alt="logo"> </a> <a data-barba="" href="index.html"> <img

                    class="header__logo__dark" src="{% static 'Recursive_Logo_200b.png' %}"

                    alt="logo"> </a> </div>
            </div>
            <div class="navClassic-wrap js-header-menu-classic">
              <ul class="navClassic-list js-navClassic-list">
                <li> <a data-barba="" href="{% url 'index' %}"> Home </a> </li>
                <li> <a data-barba="" href="{% url 'about' %}"> About Us </a> </li>
                <li> <a data-barba="" href="{% url 'our_work' %}"> Our Work </a> </li>
                <li> <a data-barba="" href="{% url 'career' %}"> Career </a> </li>
                <li> <a data-barba="" href="{% url 'lab' %}"> The Lab </a> </li>
                <li> <a data-barba="" href="{% url 'contact' %}"> Contact </a> </li>
              </ul>
            </div>
            <div class="header__menu__wrap overflow-hidden">
              <div class="header__menu js-header-menu"> <button type="button" class="nav-button-open js-nav-open">
                  <i class="icon" data-feather="menu"></i> </button> </div>
            </div>
          </div>
          <!-- header__bar end -->
          <!-- nav start -->
          <nav class="nav js-nav">
            <div class="nav__inner js-nav-inner">
              <div class="nav__bg js-nav-bg"></div>
              <div class="nav__container">
                <div class="nav__header"> <button type="button" class="nav-button-back js-nav-back">
                    <i class="icon" data-feather="arrow-left-circle"></i> </button>
                  <button type="button" class="nav-btn-close js-nav-close pointer-events-none">
                    <i class="icon" data-feather="x"></i> </button> </div>
                <div class="nav__content">
                  <div class="nav__content__left">
                    <div class="navList__wrap">
                      <ul class="navList js-navList">
                        <li> <a data-barba="" href="{% url 'index' %}">Home</a> </li>
                        <li> <a data-barba="" href="{% url 'about' %}">About Us</a>
                        </li>
                        <li> <a data-barba="" href="{% url 'our_work' %}">Our Work</a>
                        </li>
                        <li> <a data-barba="" href="{% url 'career' %}">Career</a>
                        </li>
                        <li> <a data-barba="" href="{% url 'lab' %}">The Lab</a>
                        </li>
                        <li> <a data-barba="" href="{% url 'contact' %}">Contact</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="nav__content__right">
                    <div class="nav__info">
                      <div class="nav__info__item js-navInfo-item">
                        <h5 class="text-sm tracking-none fw-500"> Address </h5>
                        <div class="nav__info__content text-lg text-white mt-16">
                          <p> Recursive Digital </p>
                        </div>
                      </div>
                      <div class="nav__info__item js-navInfo-item">
                        <h5 class="text-sm tracking-none fw-500"> Socials </h5>
                        <div class="nav__info__content text-lg text-white mt-16">
                          <a href="https://www.linkedin.com/company/recursivedigital"

                            target="_blank">Linkedin</a> <a href="https://www.instagram.com/recursive.digital/"

                            target="_blank">Instagram</a> <a href="https://twitter.com/Recursive_digi"

                            target="_blank">Twitter</a> <a href="https://vimeo.com/recursivedigital"

                            target="_blank">Vimeo</a> </div>
                      </div>
                      <div class="nav__info__item js-navInfo-item">
                        <h5 class="text-sm tracking-none fw-500"> Contact Us </h5>
                        <div class="nav__info__content text-lg text-white mt-16">
                          <a href="mailto:info@recursive.digital?subject=General%20Inquire">recursive@recursive.digital</a>
                          <a href="#">+44 (0) 1323 379870 </a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
          <!-- nav end --> </header>
        <!-- header end -->
        <!-- section start -->
        <section class="sliderMain -type-1 bg-black js-sliderMain-type-1">
          <!-- swiper-wrapper start -->
          <div class="swiper-wrapper">
            <!-- swiper-slide start -->
            <div class="swiper-slide overflow-hidden">
              <div class="sliderMain__wrap">
                <div class="sliderMain__img -cover z-1 js-image">
                    <div class="wrapper">
                  <video class="videoInsert js-lazy" loop="" controls autoplay muted playsinline>
                          <source src="{% static 'Header1080_v6.mp4' %}" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div class="sliderMain__bgTitle fw-800 pb-48 md:d-none z-2 js-bgTitle"

                  data-swiper-parallax="550">
<!--                  Creative Technologists-->
                  </div>
                <div class="container-fluid">
                  <div class="row justify-content-center text-center">
                    <div class="col-sm-10">
                      <div class="sliderMain__content pt-24 z-3">
                        <div class="js-subtitle">
                          <p class="sliderMain__subtitle leading-xs text-xs tracking-md uppercase fw-500 text-white mb-32">
                            - Recursive Digital - </p>
                        </div>
                        <div class="js-title">
                          <h1 class="sliderMain__title fw-800 text-white">We Are Recursive </h1>
                        </div>
                        <div class="sliderMain__button js-button"> <a class="button -md -outline-white text-white mt-32"

                            href="{% url 'our_work' %}" data-barba="">view our work</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- swiper-slide end -->
           </div>
          <!-- swiper-wrapper end -->
          <!-- ui-element start -->
          <div class="ui-element -bottom-left js-ui">
            <div class="ui-element__social text-white js-bottom-left-links"> <a

                href="https://www.linkedin.com/company/recursivedigital" target="_blank"><i

                  class="fa fa-linkedin"></i></a> <a href="https://www.instagram.com/recursive.digital/"

                target="_blank"><i class="fa fa-instagram"></i></a> <a href="https://twitter.com/Recursive_digi"

                target="_blank"><i class="fa fa-twitter"></i></a> <a href="https://vimeo.com/recursivedigital"

                target="_blank"><i class="fa fa-vimeo"></i></a> </div>
          </div>
          <!-- ui-element end -->
          <!-- ui-element start -->
          <div class="ui-element -bottom sm:d-none js-ui"> <button type="button"

              class="ui-element__scroll text-white js-ui-scroll-button"> scroll
              down <i class="icon" data-feather="arrow-down"></i> </button> </div>
          <!-- ui-element end -->
          <!-- ui-element start -->
          <div class="ui-element -bottom-right sm:d-none js-ui js-slider-nav">
            <div class="navButton js-slider-main-nav"> <button type="button" class="navButton__item button -outline-white js-prev text-white">
                <i class="icon" data-feather="arrow-left"></i> </button> <button

                type="button" class="navButton__item button -outline-white js-next text-white ml-20">
                <i class="icon" data-feather="arrow-right"></i> </button> </div>
          </div>
          <!-- ui-element end --> </section>
        <!-- section end -->
        <!-- section start -->
        <section class="layout-pt-xl layout-pb-lg">
          <!-- container start -->
          <div data-anim-wrap="" class="container">
            <!-- row start -->
            <div class="row justify-content-center text-center">
              <div class="col-xl-11 col-lg-10">
                <div class="sectionHeading -sm">
                  <p class="sectionHeading__subtitle">About Us</p>
                  <h2 class="sectionHeading__title leading-lg mt-32"> We are a
                    multi-disciplined design studio creating real&#8209;world
                    experiences to tell your story and connect you with your
                    audience through audiovisual design, content creation and
                    bespoke software development. </h2>
                  <a href="team.html" data-barba="" class="button -underline fw-400 text-lg text-black mt-40">
                    Want to know more? </a> </div>
              </div>
            </div>
            <!-- row end --> </div>
          <!-- container end --> </section>
        <!-- section end -->


        <!-- section start -->

        <div class="sectionVideo h-lg">

          <div data-parallax="0.7" class="h-full">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
              <div class="container">
                   <div class="col-lg-8">
            <div class="js-title">
              <h2 class="row justify-content-center text-center fw-800 text-white">Watch Our Showreel</h2>
            </div>

            <div data-parallax-target="" class="bg-image js-lazy" data-bg="{% static 'Recursive_Digital_3D_render.jpg' %}">
            </div>

          </div>
                  <div class="-md text-white mt-40 md:mt-32">
          <a href="https://vimeo.com/437062017" data-cursor="" data-gallery="gallery1"
            class="sectionVideo__btn bg-white text-black js-video-button glightbox mt-40 md:mt-32">

            <span class="sectionVideo__btn__inner">
              <i class="icon str-width-lg" data-feather="arrow-right"></i>

            </span>

          </a>
                  </div>

        </div>
           </div>
             </div>
        <!-- section end -->

        <!-- section start -->
        <section class="layout-pt-xl layout-pb-lg bg-dark-1">
          <!-- container start -->
          <div class="container">
            <!-- row start -->
            <div class="row">
              <div class="col-xl-9 col-md-12">
                <div class="sectionHeading -sm">
                  <p class="sectionHeading__subtitle -light">Services We Offer</p>
                  <h1 class="sectionHeading__title fw-600 text-white"> We design
                    technology solutions across AV, Lighting, Content and
                    Software to transform spaces for brands, venues, and people
                  </h1>
                </div>
              </div>
            </div>
            <!-- row end -->

            <!-- row start -->
            <div data-anim-wrap="" class="row x-gap-48 y-gap-48 layout-pt-md">

              <div class="col-lg-3 col-sm-6">
                <div data-anim-child="slide-up delay-4" class="serviceCard -type-2">
                  <div class="serviceCard__content">
                    <div class="d-flex align-items-center ml-minus-4">
                      <div class="px-20 py-20 bg-dark-1 border-light rounded-full">
                        <i class="size-sm str-width-md text-accent" data-feather="sliders"></i>
                      </div>
                    </div>
                    <h3 class="serviceCard__title text-accent text-2xl fw-500 mt-40 md:mt-24">
                      AV &amp; Lighting </h3>
                    {% for service in jobs.all %}
                    <p class="serviceCard__text text-light mt-16">{{service.av}}</p>
                    {% endfor %}
                    <div class="serviceCard__navButton navButton -md mt-24"> <a

                        href="{% url 'about' %}" class="navButton__item button -outline-white text-white">
                        <i data-feather="arrow-right" class="icon"></i> </a> </div>
                  </div>
                </div>

              </div>

              <div class="col-lg-3 col-sm-6">
                <div data-anim-child="slide-up delay-5" class="serviceCard -type-2">
                  <div class="serviceCard__content">
                    <div class="d-flex align-items-center ml-minus-4">
                      <div class="px-20 py-20 bg-dark-1 border-light rounded-full">
                        <i class="size-sm str-width-md text-accent" data-feather="speaker"></i>
                      </div>
                    </div>
                    <h3 class="serviceCard__title text-accent text-2xl fw-500 mt-40 md:mt-24">
                      Acoustics </h3>
                    {% for service in jobs.all %}
                    <p class="serviceCard__text text-light mt-16">{{service.acoustics}}</p>
                    {% endfor %}
                    <div class="serviceCard__navButton navButton -md mt-24"> <a

                        href="{% url 'about' %}" class="navButton__item button -outline-white text-white">
                        <i data-feather="arrow-right" class="icon"></i> </a> </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-sm-6">

                <div data-anim-child="slide-up delay-6" class="serviceCard -type-2">
                  <div class="serviceCard__content">
                    <div class="d-flex align-items-center ml-minus-4">
                      <div class="px-20 py-20 bg-dark-1 border-light rounded-full">
                        <i class="size-sm str-width-md text-accent" data-feather="cpu"></i>
                      </div>
                    </div>
                    <h3 class="serviceCard__title text-accent text-2xl fw-500 mt-40 md:mt-24">
                      IT Services </h3>
                    {% for service in jobs.all %}
                    <p class="serviceCard__text text-light mt-16">{{service.it}}</p>
                    {% endfor %}
                    <div class="serviceCard__navButton navButton -md mt-24"> <a

                        href="{% url 'about' %}" class="navButton__item button -outline-white text-white">
                        <i data-feather="arrow-right" class="icon"></i> </a> </div>
                  </div>
                </div>

              </div>

              <div class="col-lg-3 col-sm-6">
                <div data-anim-child="slide-up delay-6" class="serviceCard -type-2">
                  <div class="serviceCard__content">
                    <div class="d-flex align-items-center ml-minus-4">
                      <div class="px-20 py-20 bg-dark-1 border-light rounded-full">
                        <i class="size-sm str-width-md text-accent" data-feather="code"></i>
                      </div>
                    </div>
                    <h3 class="serviceCard__title text-accent text-2xl fw-500 mt-40 md:mt-24">
                      Software &amp; Content</h3>
                      {% for service in jobs.all %}
                    <p class="serviceCard__text text-light mt-16">{{ service.softwareandcontent }}</p>
                      {% endfor %}
                    <div class="serviceCard__navButton navButton -md mt-24"> <a
                        href="{% url 'about' %}" class="navButton__item button -outline-white text-white">
                        <i data-feather="arrow-right" class="icon"></i> </a> </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- row end --> </div>
          <!-- container end --> </section>

        <!-- section end -->
        <!-- section start -->
        <section class="layout-pt-md bg-dark-1 layout-pb-md">
          <!-- container start -->
          <div class="container">
            <!-- row start -->
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <div class="sectionHeading -md">
                  <p class="sectionHeading__subtitle -light"> portfolio </p>
                  <h2 class="sectionHeading__title text-white"> Selected
                    Projects </h2>
                  <p class="text-lg md:text-base text-light mt-16"> We create
                    progress by designing and developing digital experiences. </p>
                  <button class="button -md -outline-white text-white mt-24"> <a

                      href="work.html"> More Work </a> </button> </div>
              </div>
            </div>
            <!-- row end --> </div>
          <!-- container end --> </section>
        <!-- section end -->
        <!-- section start -->
        <section>
          <div class="masonry -col-4 js-masonry js-masonry-no-filter">
            <div class="masonry__sizer"></div>

            {% for project_examples in examples.all %}
            <div class="masonry__item + {{ project_examples.project_size }}">
              <div class="portfolioCard -type-2 -hover ratio">
                <div class="portfolioCard__img">
                  <div data-anim="img-right cover-dark-1 delay-1" class="portfolioCard__img__inner">
                    <div class="bg-image js-lazy" data-bg="{{ project_examples.project_image.url }}"</div>
                  </div>
                </div>
              <div class="portfolioCard__content"> <a href="Portfolio_Item_Qatar_National_Library.html" class="portfolioCard__category text-light mb-8">{{ project_examples.project_services }}</a>

                  <h3 class="portfolioCard__title text-2xl fw-600 text-white">{{ project_examples.project_text }}</h3>

                </div>

                <a data-barba="" href="Portfolio_Item_Qatar_National_Library.html"

                  class="portfolioCard__link"></a> </div>

            </div>
            </div>
            {% endfor %}

          </div>
        </section>
        <!-- section end -->
        <!-- section start -->
        <section class="layout-pt-lg layout-pb-lg">
          <!-- container start -->
          <div class="container">
            <!-- row start -->
            <div class="row justify-content-center text-center">
              <div class="col-lg-7">
                <div class="sectionHeading -lg">
                  <p class="sectionHeading__subtitle">Partners</p>
                  <h2 class="sectionHeading__title">Our Clients</h2>
                </div>
              </div>
            </div>
            <!-- row end -->
            <!-- row start -->
            <div class="row x-gap-32 y-gap-32 layout-pt-md">

              {% for clients in clients.all %}
              <div class="col-lg-2 col-sm-6">
				        <a href="" target="_blank">
                  <div data-anim="slide-up delay-1" class="clientsItem -hover ratio ratio-1:1 rounded-4">
                    <div class="clientsItem__img"> <img class="col-9" src="{{ clients.client_logo.url }}"
                        alt="Client"> </div>
                        <div class="clientsItem__content">
                        <h5 class="clientsItem__title text-2xl text-white">{{ clients.client_name }}</h5>
                        </div>
                  </div>
				        </a>
              </div>
            {% endfor %}
            </div>
            <!-- row end --> </div>


          <!-- container end --> </section>
        <!-- section end -->
        <!-- section start -->
        <section class="layout-pt-lg layout-pb-lg bg-dark-1">
          <!-- container start -->
          <div class="container">
            <div data-cursor="" data-cursor-label="DRAG" class="overflow-hidden js-section-slider"

              data-slider-col="base-1 lg-1 md-1 sm-1" data-pagination="" data-loop="">
              <div class="pagination -light js-pagination pt-4 mb-48"></div>
              <div class="swiper-wrapper">

                {% for testimonials in testimonials.all %}
                <div class="swiper-slide">
                  <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                      <div class="testimonials text-center">
                        <p class="testimonials__comment text-3xl md:text-2xl sm:text-xl fw-600 leading-xl text-white">
                        {{ testimonials.text }}</p>
                        <div class="testimonials__author mt-48">
                          <h5 class="text-lg capitalize text-white fw-600">{{ testimonials.name }}</h5>
                          <p class="capitalize text-light">{{ testimonials.role }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}


              </div>
            </div>
          </div>
          <!-- container end --> </section>
        <!-- section end -->
        <!-- section start -->
        <section class="layout-pt-md layout-pb-lg border-bottom-dark">
          <!-- container start -->
          <div class="container">
            <!-- row start -->
            <div class="row">
              <div class="col-xl-7 col-lg-9">
                <div class="sectionHeading -lg">
                  <p class="sectionHeading__subtitle"> awards &amp; honors </p>
                  <h2 class="sectionHeading__title"> Some of Our International
                    Awards: </h2>
                </div>
              </div>
            </div>
            <!-- row end -->
            <!-- row start -->
            <div class="row no-gutters mb-8 layout-pt-md sm:d-none">
              <div class="col-lg-2 col-md-1">
                <p class="title-xs fw-600 text-black"> Year </p>
              </div>
              <div class="col-lg-3 offset-lg-1 col-md-3 offset-md-1">
                <p class="title-xs fw-600 text-black"> Category </p>
              </div>
              <div class="col-lg-2 offset-lg-1 col-md-3 offset-md-1">
                <p class="title-xs fw-600 text-black"> Award </p>
              </div>
              <div class="col-lg-2 offset-lg-1 col-md-2 offset-md-1">
                <p class="title-xs fw-600 text-black"> Link </p>
              </div>
            </div>
            <!-- row end -->
            <div data-anim-wrap="" class="section-border-bottom-dark sm:mt-32">

              <!-- row start -->
              {% for awards in awards.all %}
              <div data-anim-child="slide-up delay-2" class="row no-gutters border-bottom-dark py-20">
                <div class="col-lg-2 col-md-1">
                  <p class="text-lg">{{ awards.year }}</p>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-3 offset-md-1">
                  <p class="text-lg"> {{ awards.category }} </p>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 offset-md-1">
                  <p class="text-lg">{{ awards.award }}</p>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-2 offset-md-1"> <a href="{{ awards.link }}"

                    target="_blank" class="button -underline text-lg text-black">
                    External Link </a> </div>
              </div>
              {% endfor %}
              <!-- row end -->
     </div>
          </div>


          <!-- container end --> </section>
        <!-- section end -->
        <!-- section start -->
        <section class="layout-pt-lg layout-pb-lg bg-dark-1">
          <!-- container start -->
          <div class="container">
            <!-- row start -->
            <div data-anim-wrap="" class="row align-items-center">
              <div class="col-lg-6 z-1">
                <div data-anim-child="img-right cover-dark-2 delay-2">
                  <div class="ratio ratio-3:4" data-parallax="0.7">
                    {% for team in team.all %}
                    <div data-parallax-target="" class="bg-image js-lazy" data-bg="{{ team.team_image.url }}"></div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="col-lg-5 offset-lg-1 col-md-9 md:mt-48 z-2">
                <div class="sectionHeading -md pt-16">
                  <div data-anim-child="slide-up delay-9">
                    <p class="sectionHeading__subtitle -light"> About Us </p>
                  </div>
                  <div data-anim-child="slide-up delay-10">
                    <h2 class="sectionHeading__title text-white mt-40 md:mt-24">
                      Meet <br>
                      The Team </h2>
                  </div>
                  <div data-anim-child="slide-up delay-11">
                    <p class="text-light mt-32 md:mt-20"></p>
                  </div>
                  <div data-anim-child="slide-up delay-12"> <a href="team.html" class="button -md -outline-white text-white mt-48 md:mt-32">
                      About Us </a> </div>
                </div>
              </div>
            </div>
            <!-- row end --> </div>
          <!-- container end --> </section>
        <!-- section end -->
        <!-- section start -->
        <section data-parallax="0.7" class="layout-pt-lg layout-pb-lg">
          <div data-parallax-target="" class="overlay-black-md bg-image js-lazy"

            data-bg="{% static 'GetInTouch2.jpg' %}"></div>
          <!-- container start -->
          <div class="container z-5">
            <!-- row start -->
            <div class="row justify-content-center text-center">
              <div class="col-12">
                <p class="text-sm uppercase tracking-lg text-white mb-20">
                  Contact us </p>
                <h2 class="text-5xl sm:text-5xl xs:text-4xl leading-sm fw-700 text-white">
                  Have a project of your own? </h2>
                <p class="text-xl md:text-lg text-white mt-16"> Small or big,
                  we've got you covered! </p>
                <a href="{% url 'contact' %}" class="button -md -white text-black mt-32">
                  Get in Touch </a> </div>
            </div>
            <!-- row end --> </div>
          <!-- container end --> </section>
        <!-- section end -->
        <!-- footer start -->
        <footer class="footer -type-1 bg-dark-1">
          <!-- container start -->
          <div class="container">
            <div class="footer__top">
              <!-- row start -->
              <div class="row y-gap-48 justify-content-between">
                <div class="col-lg-auto col-sm-12"> <a href="index.html" class="footer__logo text-white">
                    Recursive <br>
                    Digital </a> </div>
                <div class="col-lg-3 col-sm-6">
                  <h4 class="text-xl fw-500 text-white">The Studio</h4>
                  <div class="footer__content text-base text-light mt-16 sm:mt-12">
                    {% for contact in contact.all %}
                    <p>{{ contact.building }}</p>
                    <p>{{ contact.street }}</p>
                    <p>{{ contact.town }}</p>
                    <p>{{ contact.postcode }}</p>
                    <p>{{ contact.country }}</p>
                    <p class="mt-8"><a href="mailto:info@recursive.digital?subject=General%20Inquire">{{ contact.email }}</a></p>
                    <p class="mt-8">{{ contact.telephone }}</p>
                    {% endfor %}
                  </div>
                </div>

                <div class="col-lg-auto col-sm-4">
                  <h4 class="text-xl fw-500 text-white">Links</h4>

                  <div class="footer__content text-base text-light mt-16 sm:mt-12">
                    <div><a data-barba="" href="{% url 'index' %}" class="button -underline mt-4">Home</a></div>
                    <div><a data-barba="" href="{% url 'about' %}" class="button -underline mt-4">About
                        Us</a></div>
                    <div><a data-barba="" href="{% url 'our_work' %}" class="button -underline mt-4">Our
                        Work</a></div>
                    <div><a data-barba="" href="{% url 'career' %}" class="button -underline mt-4">Career</a></div>
                    <div><a data-barba="" href="{% url 'lab' %}" class="button -underline">The Lab</a></div>
                    <div><a data-barba="" href="{% url 'contact' %}" class="button -underline mt-4">Contact</a></div>

                  </div>
                </div>
                <div class="col-lg-auto col-auto">
                  <h4 class="text-xl fw-500 text-white">Follow us</h4>
                  <div class="social -bordered mt-16 sm:mt-12"> <a class="social__item text-white border-light"

                      href="https://www.linkedin.com/company/recursivedigital" target="_blank">
                      <i class="fa fa-linkedin"></i> </a> <a class="social__item text-white border-light"

                      href="https://www.instagram.com/recursive.digital/" target="_blank">
                      <i class="fa fa-instagram"></i> </a> <a class="social__item text-white border-light"

                      href="https://twitter.com/Recursive_digi" target="_blank">
                      <i class="fa fa-twitter-square"></i> </a> <a class="social__item text-white border-light"

                      href="https://vimeo.com/recursivedigital" target="_blank">
                      <i class="fa fa-vimeo"></i> </a> </div>
                </div>
              </div>
              <!-- row end --> </div>
            <div class="footer__bottom -light">
              <!-- row start -->
              <div class="row">
                <div class="col">
                  <div class="footer__copyright">
                    <p class="text-light"> © Recursive <script>document.write(new Date().getFullYear())</script> - All Rights
                      Reserved </p>
                  </div>
                </div>
              </div>
              <!-- row end --> </div>
          </div>
          <!-- container end --> </footer>
        <!-- footer end --> </main>
    </div>
    <!-- barba container end -->
    <!-- JavaScript -->
    <script src="{% static 'js/vendors.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
