
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HX63517VFF"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HX63517VFF');
  </script>

  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Stylesheets -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/vendors.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="img/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <title>Recursive Digital - The Lab-Development-of-New-Ideas</title>
</head>

<body class="preloader-visible" data-barba="wrapper">


  <!-- preloader start -->
  <div class="preloader js-preloader">
    <div class="preloader__bg"></div>

    <div class="preloader__progress">
      <div class="preloader__progress__inner"></div>
    </div>
  </div>
  <!-- preloader end -->


  <!-- cursor start -->
  <div class="cursor js-cursor">
    <div class="cursor__wrapper">
      <div class="cursor__follower js-follower"></div>
      <div class="cursor__label js-label"></div>
      <div class="cursor__icon js-icon"></div>
    </div>
  </div>
  <!-- cursor end -->


  <!-- barba container start -->
  <div class="barba-container" data-barba="container">

    <!-- to-top-button start -->
    <div data-cursor class="backButton js-backButton">
      <span class="backButton__bg"></span>
      <div class="backButton__icon__wrap">
        <i class="backButton__button js-top-button" data-feather="arrow-up"></i>
      </div>
    </div>
    <!-- to-top-button end -->


    <main class="">


       <!-- header start -->
      <header class="header -dark -sticky-dark js-header-dark -classic js-header">
        <!-- header__bar start -->
        <div class="header__bar">
          <div class="overflow-hidden">
            <div class="header__logo js-header-logo">
              <a data-barba href="index.html">
                <img class="header__logo__light" src="{% static 'logo-light.png' %}" alt="logo">
              </a>
              <a data-barba href="index.html">
                <img class="header__logo__dark" src="{% static 'Recursive_Logo_200b.png' %}" alt="logo">
              </a>
            </div>
          </div>

          <div class="navClassic-wrap js-header-menu-classic">
            <ul class="navClassic-list js-navClassic-list">
              <li>
                 <a data-barba href={% url 'index' %}>Home</a>
              </li>

              <li>
                <a data-barba href="{% url 'about' %}">About Us</a>
              </li>

              <li>
                <a data-barba href="{% url 'our_work' %}">Our Work</a>
              </li>

				      <li>
                <a data-barba href="{% url 'career' %}">Career</a>
              </li>
				      <li>
                <a data-barba href="{% url 'lab' %}">The Lab</a>
              </li>
				      <li>
                <a data-barba href="{% url 'contact' %}">Contact</a>
              </li>

            </ul>
          </div>

          <div class="header__menu__wrap overflow-hidden">
            <div class="header__menu js-header-menu">
              <button type="button" class="nav-button-open js-nav-open">
                <i class="icon" data-feather="menu"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- header__bar end -->


       <!-- nav start -->
        <nav class="nav js-nav">
          <div class="nav__inner js-nav-inner">
            <div class="nav__bg js-nav-bg"></div>

            <div class="nav__container">
              <div class="nav__header">
                <button type="button" class="nav-button-back js-nav-back">
                  <i class="icon" data-feather="arrow-left-circle"></i>
                </button>

                <button type="button" class="nav-btn-close js-nav-close pointer-events-none">
                  <i class="icon" data-feather="x"></i>
                </button>
              </div>

              <div class="nav__content">
                <div class="nav__content__left">
                  <div class="navList__wrap">
                    <ul class="navList js-navList">
                      <li>
                         <a data-barba href={% url 'index' %}>Home</a>
                      </li>

                      <li>
                        <a data-barba href="{% url 'about' %}">About Us</a>
                      </li>

                      <li>
                        <a data-barba href="{% url 'our_work' %}">Our Work</a>
                      </li>

        				      <li>
                        <a data-barba href="{% url 'career' %}">Career</a>
                      </li>
        				      <li>
                        <a data-barba href="{% url 'lab' %}">The Lab</a>
                      </li>
        				      <li>
                        <a data-barba href="{% url 'contact' %}">Contact</a>
                      </li>

                    </ul>
                  </div>
                </div>

                <div class="nav__content__right">
                  <div class="nav__info">
                    <div class="nav__info__item js-navInfo-item">
                      <h5 class="text-sm tracking-none fw-500">
                        Address
                      </h5>

                      <div class="nav__info__content text-lg text-white mt-16">
                        <p>
                          Recursive Digital
                        </p>
                      </div>
                    </div>

                    <div class="nav__info__item js-navInfo-item">
                      <h5 class="text-sm tracking-none fw-500">
                        Socials
                      </h5>
                      <div class="nav__info__content text-lg text-white mt-16">
                        <a href="https://www.linkedin.com/company/recursivedigital" target="_blank">Linkedin</a>
                        <a href="https://www.instagram.com/recursive.digital/" target="_blank">Instagram</a>
                        <a href="https://twitter.com/Recursive_digi" target="_blank">Twitter</a>
                        <a href="https://vimeo.com/recursivedigital" target="_blank">Vimeo</a>
                      </div>

                    </div>

                    <div class="nav__info__item js-navInfo-item">
                      <h5 class="text-sm tracking-none fw-500">Contact Us</h5>

                      <div class="nav__info__content text-lg text-white mt-16">
                        <a href="mailto:info@recursive.digital?subject=General Inquire">recursive@recursive.digital</a>
                        <a href="#">+44 (0) 1323 379870 </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <!-- nav end -->
      </header>
      <!-- header end -->


    <!-- section start -->
      <section class="masthead -blog js-masthead-blog-article" data-parallax="0">
        <!-- masthead__img start -->
        <div class="masthead__img"  data-parallax-target>
         <div class="sliderMain__img -cover-dark z-3 js-image">

           <video loop="" width="100%" height="auto" autoplay muted playsinline>
             <source src="{% static 'The_Lab_Header.mp4' %}" type="video/mp4"></source>
           </video>

              </div>
        </div>
        <!-- masthead__img end -->

        <!-- masthead__content start -->
        <div class="masthead__content">
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-sm-10">
                <div class="sliderMain__content pt-24 z-1">
                  <div class="js-subtitle">
                    <p class="sliderMain__subtitle leading-xs text-xs tracking-md uppercase fw-500 text-white mb-32">
                    </p>
                  </div>
                  <div class="js-title">
                    <h1 class="sliderMain__title fw-800 text-white"></h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- masthead__content end -->
      </section>
      <!-- section end -->

    <!-- section start -->
        <section class="layout-pt-xl layout-pb-lg">
          <!-- container start -->
          <div data-anim-wrap="" class="container">
            <!-- row start -->
            <div class="row justify-content-center text-center">
              <div class="col-xl-11 col-lg-10">
                <div class="sectionHeading -sm">
                  <p class="sectionHeading__subtitle">Experimental Lab</p>
                  <h2 class="sectionHeading__title leading-lg mt-32">As with all great labs we use this space to share ideas, our experiments and just some of the things we are currently working on…</h2>
                </div>
				  </div>
              </div>
            <!-- row end --> </div>
          <!-- container end --> </section>
        <!-- section end -->

      <!-- section start -->
      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for jobs in jobs.all %}
            <div class="col">
              <a href="{% url 'detail' jobs.id %}">
              <div class="card shadow-sm">
                {% if  jobs.video_checkbox == 0 %}
                <img class="card-img-top" src="{{ jobs.title_image.url }}">
                {% else %}
                <img class="card-img-top">
                <video loop="" width="100%" autoplay>
                  <source src="{{ jobs.title_video.url }}" type="video/mp4"></source>
                </video>
                {% endif %}
                <div class="card-body">
                  <p class="card-text">{{ jobs.summary }}</p>
                  <p class="card-text">{{ jobs.sub_summary }}</p>
                </div>
              </div>
              </a>
            </div>
              {% endfor %}
          </div>
        </div>
      </div>


      <!-- section end -->

    <!-- footer start -->
        <footer class="footer -type-1 bg-dark-1">
          <!-- container start -->
          <div class="container">

            <div class="footer__top">
              <!-- row start -->
              <div class="row y-gap-48 justify-content-between">
                <div class="col-lg-auto col-sm-12"> <a href="index.html" class="footer__logo text-white">
                    Recursive <br>
                    Digital </a> </div>
                <div class="col-lg-3 col-sm-6">
                  <h4 class="text-xl fw-500 text-white">The Studio</h4>
                  <div class="footer__content text-base text-light mt-16 sm:mt-12">
                    {% for contact in contact.all %}
                    <p>{{ contact.building }}</p>
                    <p>{{ contact.street }}</p>
                    <p>{{ contact.town }}</p>
                    <p>{{ contact.postcode }}</p>
                    <p>{{ contact.country }}</p>
                    <p class="mt-8"><a href="mailto:info@recursive.digital?subject=General%20Inquire">{{ contact.email }}</a></p>
                    <p class="mt-8">{{ contact.telephone }}</p>
                    {% endfor %}
                  </div>
                </div>

                <div class="col-lg-auto col-sm-4">
                  <h4 class="text-xl fw-500 text-white">
                    Links
                  </h4>

                  <div class="footer__content text-base text-light mt-16 sm:mt-12">
                    <div><a data-barba="" href="{% url 'index' %}" class="button -underline mt-4">Home</a></div>
                    <div><a data-barba="" href="{% url 'about' %}" class="button -underline mt-4">About
                        Us</a></div>
                    <div><a data-barba="" href="{% url 'our_work' %}" class="button -underline mt-4">Our
                        Work</a></div>
                    <div><a data-barba="" href="{% url 'career' %}" class="button -underline mt-4">Career</a></div>
                    <div><a data-barba="" href="{% url 'lab' %}" class="button -underline">The Lab</a></div>
                    <div><a data-barba="" href="{% url 'contact' %}" class="button -underline mt-4">Contact</a></div>
                  </div>
                </div>

                <div class="col-lg-auto col-auto">
                  <h4 class="text-xl fw-500 text-white">
                    Follow us
                  </h4>

                  <div class="social -bordered mt-16 sm:mt-12">
                    <a class="social__item text-white border-light" href="https://www.linkedin.com/company/recursivedigital" target="_blank">
                      <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="social__item text-white border-light" href="https://www.instagram.com/recursive.digital/" target="_blank">
                      <i class="fa fa-instagram"></i>
                    </a>
                    <a class="social__item text-white border-light" href="https://twitter.com/Recursive_digi" target="_blank">
                      <i class="fa fa-twitter-square"></i>
                    </a>
                    <a class="social__item text-white border-light" href="https://vimeo.com/recursivedigital" target="_blank">
            <i class="fa fa-vimeo"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- row end -->
            </div>


            <div class="footer__bottom -light">
              <!-- row start -->
              <div class="row">
                <div class="col">
                  <div class="footer__copyright">
                    <p class="text-light"> © Recursive <script>document.write(new Date().getFullYear())</script> - All Rights
                      Reserved </p>
                  </div>
                </div>
              </div>
              <!-- row end -->
            </div>

          </div>
          <!-- container end -->
        </footer>
        <!-- footer end -->


    </main>

  </div>
  <!-- barba container end -->


  <!-- JavaScript -->
  <script src="{% static 'js/vendors.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>
